@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-brand-red: #e50914;
  --color-brand-dark: #121212;
  --color-brand-darker: #0a0a0a;
  --color-brand-gray: #262626;
  --color-brand-light-gray: #404040;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  @apply selection:bg-brand-red selection:text-white bg-brand-darker;
}

/* Custom Utilities */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}